<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css">
    <title>Nadanai Kurairat's Portfolio</title>
</head>
<body>
    <header>
        <a class="navbar" href="/">Home</a>
        <a class="navbar" href="/aboutme">Aboutme</a>
        <a class="navbar" href="/education">Education</a>
        <a class="navbar" href="/workepxperience">Workepxperience</a>
        <a class="navbar" href="/skill">Skill</a>


    
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>