<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <img src="../../img/Earth.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
<br>
<h1>Hello, My name is {{myData.name}}</h1>
<h2>{{myData.work}}</h2>
<h2>{{myData.aboutme.Phone}}</h2>